@page "/"

<PageTitle>Home</PageTitle>

<h1>Congratulations!!</h1>
<h2>You've completed the Terraform 300 Rapid Ramp 300!</h2>


<iframe width="894" height="503" src="https://www.youtube.com/embed/akI5ktahPHI" title="Sample graduation video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
